# MongoDB configurations
# Format: mongodb+srv://<username>:<password>@<cluster-url>/
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_URL/
MONGODB_DB_NAME=commitment_tracker

# Flask Session security key
FLASK_SECRET_KEY=replace_with_a_secure_random_secret
